{% extends "renty/renty_base.html" %}

{% block renty_content %}

<style>
    .form_fixed_change_tong {
        display: none;
    }

    .topback1 {
        background: linear-gradient(#e97bff, #5586EB, #4374D9);
    }
</style>

<!-- <div class="text-center text-2xl font-bold text-red-800 my-4" data-aos="fade-down" data-aos-duration="500">
    <span class="inline-block">약정끝난 인터넷 + TV</span>
</div>
<div class="text-center text-3xl font-extrabold my-6" data-aos="fade-up" data-aos-duration="1000">
    <span class="inline-block">통신사 변경하면</span>
    
</div>
<div class="text-center text-4xl font-black my-8" data-aos="zoom-out-up" data-aos-duration="1500">
    <span class="inline-block">누구나 최대 47 + @ 득템 찬스!</span>
</div>
<div class="container mx-auto max-w-4xl text-center" data-aos="fade-up" data-aos-duration="1500">
    <img src="/img/renty_base/main_girl.webp" alt="" class="mx-auto w-full" style="max-width: 800px;">
</div>

 -->




<div class="text-center topback1 pt-10">
    <div class="chk_test1 hidden">3년마다 돈받는 재테크</div>
    <div class="title_three_typing text-2xl lg:text-5xl font-extrabold my-2 text-white"></div>
    <div class="font-extrabold my-4 text-5xl lg:text-8xl text-white" data-aos="fade-up" data-aos-duration="500"
        data-aos-delay="1200">렌티에서!</div>
    <div class="mt-5 leading-10 text-2xl lg:text-3xl text-white" data-aos="flip-up" data-aos-duration="800"
        data-aos-delay="1200">
        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i> 요금, A/S 및 설치는 본사 동일</span><br>
        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i> 상담은 3사 통합상담</span><br>
        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i> 사은품은 압도적으로 더 많~이</span><br>
    </div>
    <img src="/img/renty_base/main_people.png" alt="" class="mx-auto max-w-3xl w-full mt-7" data-aos="fade-up">
</div>


<div class="p-6 hidden">
    <div class="max-w-3xl mx-auto">
        <img src="/img/renty_base/logo_img.png" alt="" class="" style="max-width: 120px;">


        <div class="text-center text-3xl lg:text-6xl my-5 font-bold">
            왜 렌티인가요?!
        </div>





    </div>

    <div class="">
        <table class="w-full max-w-md lg:max-w-2xl mx-auto">
            <tr class="lg:text-2xl testaos" data-aos="flip-up" data-aos-duration="1000">
                <td class="px-4 py-3 lg:py-6" style="min-width: 50px;"><i class="fa fa-check-circle-o"
                        aria-hidden="true"></i>
                </td>
                <td>
                    많은 신청 건수로 증명한 확실한 업체!
                </td>
            </tr>

            <tr class="lg:text-2xl go_count" data-aos="flip-up" data-aos-duration="1000">
                <td class="px-4 py-3 lg:py-6" style="min-width: 50px;"><i class="fa fa-check-circle-o"
                        aria-hidden="true"></i>
                </td>
                <td>
                    누적 신청건수 <span class="text-red-500 font-bold req_count">-</span> <span
                        class="text-red-500 font-bold">건!</span> <br>
                    누적 사은품 지급 금액 <span class="text-red-500 font-bold gift_price">-</span
                        class="text-red-500 font-bold">원!<span></span>
                </td>
            </tr>
            <tr class="hidden lg:text-2xl" data-aos="flip-up" data-aos-duration="1000">
                <td class="px-4 py-3 lg:py-6" style="max-width: 30px;"><i class="fa fa-check-circle-o"
                        aria-hidden="true"></i>
                </td>
                <td>
                    후기 작성시 5만원 상당 사은품 증정! 비교불가 혜택!!
                </td>
            </tr>
        </table>
    </div>


</div>



<!-- <div class="text-center">
    <img src="/img/renty_base/renty_main2.png" alt="" class="mx-auto">
</div> -->

<div class="fixed bottom-5 left-0 text-center w-full z-40">
    <button
        class="my-10 py-2 bg-red-500 hover:bg-red-600 text-white rounded-full w-2/4 md:w-1/3  text-2xl animate-bounce"
        data-modal-toggle="changTongModal">지금 바로 확인!!!!</button>
</div>




<script src="/lib/front_lib.js"></script>

<script>

    AOS.init();


    const go_count = document.querySelector('.go_count');
    const req_count = document.querySelector('.req_count');
    const gift_price = document.querySelector('.gift_price');
    go_count.addEventListener('transitionend', (e) => {
        if (req_count.innerHTML == "-") {
            const max = 247;
            counter(req_count, max, 30);
        }else{
            req_count.innerHTML = "-"
        }

        if (gift_price.innerHTML == "-") {
            const max = 98800000;
            counter(gift_price, max, 30);
        }else{
            gift_price.innerHTML = "-"
        }
    });

    // window.onload = () => {
    //     // 카운트를 적용시킬 요소
    //     const $counter = document.querySelector(".count");

    //     // 목표 수치
    //     const max = 17249;

    //     setTimeout(() => counter($counter, max, 30), 1000);
    //   }
    var typingBool = false;
    var typingIdx = 0;

    // 타이핑될 텍스트를 가져온다 
    var typingTxt = $(".chk_test1").text();
    console.log(typingTxt);

    typingTxt = typingTxt.split(""); // 한글자씩 자른다. 

    if (typingBool == false) {
        // 타이핑이 진행되지 않았다면 
        typingBool = true;
        var tyInt = setInterval(typing, 100); // 반복동작 
    }

    function typing() {
        if (typingIdx < typingTxt.length) {
            // 타이핑될 텍스트 길이만큼 반복 
            $(".title_three_typing").append(typingTxt[typingIdx]);
            // 한글자씩 이어준다. 
            typingIdx++;
        } else {
            //끝나면 반복종료 
            clearInterval(tyInt);
        }
    }





</script>



{% include "renty/renty_change_tong.html" %}




{% endblock %}

{% include "renty/renty_review_main.html" %}