<div id="ft">

  <div class="container flex flex-wrap justify-center items-center mx-auto mt-3">
    <a href="/" class="flex items-center">
      <img src="/img/renty_base/logo.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Renty</span>
    </a>
  </div>

  <div class="text-center">
    <!-- <span>통신판매업신고번호 : 부천 2021-4849494 </span> -->
    <span class="inline-block text-sm">개인정보 보호책임자 : 김연지 </span>
    <span class="inline-block ml-3 text-sm">대표 : 박창현 </span>
    <span class="inline-block ml-3 text-sm">회사명 : 애드피크 </span>
    <span class="inline-block ml-3 text-sm">주소 : 서울시 구로구 부광로88 B동 1010호 </span>
    <span class="inline-block ml-3 text-sm">사업자번호 : 240-06-01900 </span>
    <span class="inline-block ml-3 text-sm">전화 : 1644-9714</span>


    {% if userInfo.user.userid %}
    <span><a class="nav-link" href="/crm">CRM 바로가기</a></span>

    {% endif %}
  </div>

</div>
</div>
</div>


<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '487172759963733',
      xfbml: true,
      version: 'v14.0'
    });
    FB.AppEvents.logPageView();
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

</body>

</html>