{% extends "renty/renty_base.html" %}

{% block renty_content %}

<style>
    /* .form_fixed_change_tong {
        display: none;
    } */
</style>

<!-- <div class="text-center text-2xl font-bold text-red-800 my-4" data-aos="fade-down" data-aos-duration="500">
    <span class="inline-block">약정끝난 인터넷 + TV</span>
</div>
<div class="text-center text-3xl font-extrabold my-6" data-aos="fade-up" data-aos-duration="1000">
    <span class="inline-block">통신사 변경하면</span>
    
</div>
<div class="text-center text-4xl font-black my-8" data-aos="zoom-out-up" data-aos-duration="1500">
    <span class="inline-block">누구나 최대 47 + @ 득템 찬스!</span>
</div>
<div class="container mx-auto max-w-4xl text-center" data-aos="fade-up" data-aos-duration="1500">
    <img src="/img/renty_base/main_girl.webp" alt="" class="mx-auto w-full" style="max-width: 800px;">
</div>

 -->

<div class="text-center">
    <img src="/img/renty_base/renty_main.png" alt="" class="mx-auto">
</div>
<div class="text-center">
    <img src="/img/renty_base/renty_main2.png" alt="" class="mx-auto">
</div>

<div class="fixed bottom-5 left-0 text-center w-full z-40">
    <button class="my-10 py-2 bg-red-500 hover:bg-red-600 text-white rounded-full w-2/4 md:w-1/3  text-2xl animate-bounce" data-modal-toggle="changTongModal">지금 바로 확인!</button>
</div>

<script>
    AOS.init();
</script>

{% include "renty/renty_change_tong.html" %}

{% endblock %}