<div class="fixed right-4 top-14 rounded-full w-16 h-16 flex justify-center items-center text-sm p-2 text-center z-40 cursor-pointer bg-blue-500 text-white form_fixed_change_tong"
    style="z-index:55">
    <span class="inline-block" type="button" data-modal-toggle="changTongModal">통신사 변경</span>
</div>

<a href="TEL:1644-9714">
    <div class="fixed right-4 top-32 rounded-full w-16 h-16 flex justify-center items-center text-sm p-2 text-center z-40 cursor-pointer bg-gray-500 text-white form_fixed_change_tong"
        style="z-index:55">
        <span class="inline-block" type="button">고객<br>센터</span>
    </div>
</a>


<!-- Main modal -->
<div id="changTongModal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full inset-0 h-modal h-full bg-gray-900 bg-opacity-50"
    style="z-index: 99;">
    <div class="relative p-4 w-full max-w-2xl h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b  background_modal">
                <h3 class="text-xl font-semibold text-gray-900 ">
                    통신사를 변경하셔야 혜택이 적용됩니다!<br>
                    변경하실 통신사를 선택해주세요!
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center  close_modal"
                    data-modal-toggle="changTongModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <table class="border-collapse w-full">
                    <tr>
                        <td class="border border-slate-300 w-2/6 p-2">
                            <a href="/form/sk">
                                <div class="text-center px-4">
                                    <img src="/img/renty_base/skb_logo.png" alt="" class="max-h-8 mx-auto">
                                </div>

                                <div class="text-center pt-1">
                                    <span class="text-sm">최대</span>
                                    <span class="text-xl font-bold text-red-600">47</span>
                                    <span class="text-sm">만</span>
                                </div>
                                <div class="text-center">
                                    <button
                                        class="mt-1 bg-blue-500 hover:bg-blue-700 text-white py-1 rounded-full w-full text-sm">바로가기
                                    </button>
                                </div>
                            </a>
                        </td>


                        <td class="border border-slate-300 w-2/6 p-2">
                            <a href="/form/kt">
                                <div class="text-center px-8">
                                    <img src="/img/renty_base/kt_logo.png" alt="" class="max-h-8 mx-auto">
                                </div>
                                <div class="text-center pt-1">
                                    <span class="text-sm">최대</span>
                                    <span class="text-xl font-bold text-red-600">45</span>
                                    <span class="text-sm">만</span>
                                </div>
                                <div class="text-center">
                                    <button
                                        class="mt-1 bg-blue-500 hover:bg-blue-700 text-white py-1 rounded-full w-full text-sm">바로가기
                                    </button>
                                </div>
                            </a>
                        </td>
                        <td class="border border-slate-300 w-2/6 p-2">
                            <a href="/form/lg">
                                <div class="text-center px-4">
                                    <img src="/img/renty_base/uplus_logo.png" alt="" class="max-h-8 mx-auto">
                                </div>
                                <div class="text-center pt-1">
                                    <span class="text-sm">최대</span>
                                    <span class="text-xl font-bold text-red-600">47</span>
                                    <span class="text-sm">만</span>
                                </div>
                                <div class="text-center">
                                    <button
                                        class="mt-1 bg-blue-500 hover:bg-blue-700 text-white py-1 rounded-full w-full text-sm">바로가기
                                    </button>
                                </div>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="border border-slate-300 w-2/6 p-2">
                            <a href="/form/hello">
                                <div class="text-center px-4">
                                    <img src="/img/renty_base/hlleo_logo.png" alt="" class="max-h-8 mx-auto">
                                </div>
                                <div class="text-center pt-1">
                                    <span class="text-sm">최대</span>
                                    <span class="text-xl font-bold text-red-600">35</span>
                                    <span class="text-sm">만</span>
                                </div>
                                <div class="text-center">
                                    <button
                                        class="mt-1 bg-blue-500 hover:bg-blue-700 text-white py-1 rounded-full w-full text-sm">바로가기
                                    </button>
                                </div>
                            </a>
                        </td>
                        <td class="border border-slate-300 w-2/6 p-2">
                            <a href="/form/sky">
                                <div class="text-center px-5">
                                    <img src="/img/renty_base/sky_logo.png" alt="" class="max-h-8 mx-auto">
                                </div>
                                <div class="text-center pt-1">
                                    <span class="text-sm">최대</span>
                                    <span class="text-xl font-bold text-red-600">36</span>
                                    <span class="text-sm">만</span>
                                </div>
                                <div class="text-center">
                                    <button
                                        class="mt-1 bg-blue-500 hover:bg-blue-700 text-white py-1 rounded-full w-full text-sm">바로가기
                                    </button>
                                </div>
                            </a>
                        </td>
                        <td class="border border-slate-300 w-2/6"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>