{% extends "renty/renty_base.html" %}

{% block renty_content %}

<style>
    .test1{border:1px solid red;}
    .chkimgcss{display: flex; justify-content: center; align-items: center; width: 100px;}
</style>

<div class="max-w-2xl p-3 mx-auto">
    <img src="/img/renty_base/review_top.png" alt="" class="w-full">
</div>

<ul>
    <li class="h-20 max-w-3xl mx-auto divide-y">
        <div class="h-full py-2">

            <div class="h-full float-left overflow-hidden chkimgcss">
                <img src="/img/sample/review/2-1.JPG" alt="" class="w-full">
            </div>

            
            <div>
                sdfasdfasdfasdfasdf
            </div>

        </div>
        
    </li>


    <li class="h-20 max-w-3xl mx-auto divide-y">
        <div class="h-full float-left chkimgcss">
            <img src="/img/sample/review/2-1.JPG" alt="" class="w-full h-full">
        </div>
        <div>
            sdfasdfasdfasdfasdf
        </div>
    </li>

    <!-- <div class="rounded-xl max-h-16 mr-3 my-1 border border-solid border-gray-300 overflow-hidden float-left inline-block chkimgcss" style="max-width: 100px; max-height: 80px;">
        <img src="/img/sample/review/2-1.JPG" alt="" class="h-full">
    </div>
    <div class="my-1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum repudiandae quod sed fugiat velit dignissimos vitae praesentium, accusantium, illum, illo rem molestias! Sapiente rem nemo dignissimos in esse nihil voluptate.
    </div> -->
</ul>




{% endblock %}