<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">

        이름 : <input type="text" name="rv_name">
        번호 : <input type="text" name="rv_phone">

        <xmp>
            <p></p>
            <img src="/public/temp_review/이미지이름" alt="">
        </xmp>
        <textarea name="re_content" id="" cols="60" rows="10"></textarea>

    </form>
    
</body>
</html>